{% assign blog_handle = 'recipes' %}

<div class="default-page-wrap collections-all">
    <div class="dpw-header" style="background-image:url('{{ 'collection-all-banner.jpg' | asset_url }}');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ collection.title }}</h1>
          {% comment %}
          {% if collection.title == "Kosher" %}
            <ul class="wlogo">
              <li class="logo-wrap"><img src="{{ 'kosher-w.png' | asset_url }}"></li>
              <li class="lheading"><h1>{{ collection.title }}</h1></li>
            </ul>

          {% elsif collection.title == "USDA Organic" %}
            <ul class="wlogo">
              <li class="logo-wrap"><img src="{{ 'organic-w.png' | asset_url }}"></li>
              <li class="lheading"><h1>{{ collection.title }}</h1></li>
            </ul>

          {% else %} 
            
          {% endif %}
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  </div>


<section class="default-collection col-temp">
  {% assign current_collection = collection.handle %}
  <div class="four-col-prod custom">
    <div class="container product-inner-wrap">
      <div class="row">
        <div class="col-12 mt-5 new-col">
          <div class="container">
            <div class="row justify-content-center">
              {% assign count = 0 %}
              {% for product in collections[current_collection].products %}
              {% assign count = count | plus: 1 %}
                <div class="col-sm-6 col-lg-3 mb-5 mb-md-5">
                  {% include 'product-collection' %}
                </div>
              {% endfor %}

              <div class="col-sm-6 col-lg-3 mb-5 mb-md-5">
                {% assign page_handle = collection.handle %}
                {% for block in section.blocks %}
                  {% if block.settings.collection_choose == page_handle %}
                    <section class="featured-recipe-last-col">
                        {% for article in blogs.recipes.articles %}
                        {% assign article_content = article.excerpt_or_content %}
                          {% if block.settings.article_choose == article.handle %}
                                {% include 'recipe-col' %}
                          {% endif %}
                        {% endfor %}
                    </section>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="two-sec-bg position-relative collection-two-sec">
  <div class="container-fluid">
    {% include 'two-sec-collection' %}
  </div>
</section>

<section class="prod--rec">
  {% include 'related-products' %}
</section>

<section class="featured-recipes-global">
  <div class="container">
    {% include 'featured-recipes-global' %}
  </div>
</section>


{% if collection.image != blank  %}
<style type="text/css">
.default-page-wrap:after {
  content: '';
  background-color: #00000010;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
</style>
{% endif %}

{% schema %}
  {
    "name": "Edit Content",
    "settings": [
      {
       "type":      "header",
       "content":   "Sections"
    },
  {
      "type": "image_picker",
      "id": "Sec_bg",
      "label": "Section Image"
    },
    {
      "type": "text",
      "id": "sec_heading",
      "label": "Sections Title"
    },
    {
      "type": "textarea",
      "id": "sec_desc",
      "label": "Sections Description"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA link"
    },
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": false
    },
    {
      "id": "related_title",
      "type": "text",
      "label": "Section title",
      "default": "Other fine products"
    },
    {
      "type": "select",
      "id": "related_grid_num",
      "label": "Products per row (Desktop)",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "select",
      "id": "related_grid_row",
      "label": "Number of rows (Desktop)",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    }
    ],
    "blocks": [
      {
        "type": "feature_recipe",
        "name": "Featured Recipe",
        "settings": [
          {
            "type": "collection",
            "id": "collection_choose",
            "label": "Choose a Collection"
          },
          {
            "type": "article",
            "id": "article_choose",
            "label": "Choose Featured Recipe" 
          }
        ]
      }
    ]
  }
{% endschema %}