<section class="reviews-section">
	<div class="container">
		<h2 class="text-center mb-5">{{ section.settings.sec_heading }}</h2>
		<div style="clear:both;"></div><div id="opinew-reviews-product-page-code" class="opw-widget-wrapper-default">
		    <span id="opinew-plugin" data-server-address="https://www.opinew.com" data-opw-prodreviews="{{ product.metafields.opinew_metafields['product_plugin'] }}" data-opinew-shop-id="{{ shop.id }}" data-shop-url="{{shop.domain}}" data-platform-product-id="{{product.id}}">
		     	<span id="opinew_product_plugin_app"></span>
		    </span>
		</div>
	</div>
</section>

{% schema %}
  {
    "name": "Product Reviews",
    "settings": [
		{
			"type":		"header",
			"content":	"Product Reviews"
		},
		{
			"type": "text",
			"id": "sec_heading",
			"label": "Section Heading"
	    }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
