<div class="container-fluid">
<div class="product-details row align-items-center">
  <div class="col-lg-4 p-0">
    <img src="{{section.settings.image | img_url:''}}" class="img-fluid" alt="{{section.settings.image.alt}}">
  </div>
  <div class="col-lg-8 cten p-0">
    <div class="ctent-wrap">
      <h3>{{section.settings.title}}</h3>
      <p>{{section.settings.subtext}}</p>
      <br>
      <h3 class="product-title">{{section.settings.name}} <span class="price">{{section.settings.pricerange}}</span></h3>
      <button class="btn" onclick='window.location.url="{{section.settings.cta_link}}"'>{{section.settings.cta_text}}</button>
    </div>
  </div>
</div>
<div class="features"> 

  <div class="feature-wrapper">
    <img src="{{section.settings.feature1 | img_url : "master"}}" alt="{{section.settings.feature1.alt}}" > <p>{{section.settings.feature1text}}</p>
  </div>
  <div class="feature-wrapper">
    <img src="{{section.settings.feature2 | img_url : "master"}}" alt="{{section.settings.feature2.alt}}" > <p>{{section.settings.feature2text}}</p>
  </div>
  <div class="feature-wrapper">
    <img src="{{section.settings.feature3 | img_url : "master"}}" alt="{{section.settings.feature3.alt}}" > <p>{{section.settings.feature3text}}</p>
  </div>
</div>
</div>

{% schema %}
{
"name": "Taste the difference",
"settings": [

{
"type": "image_picker",
"id" : "image",
"label" : "Image"
},
{
"type": "text",
"id" : "title",
"label" : "Title"
},
{
"type": "text",
"id" : "subtext",
"label" : "Paragraph"
},
{
"type": "text",
"id" : "name",
"label" : "Name of the product"
},
{
"type": "text",
"id" : "pricerange",
"label" : "price range of the product"
},
{
"type": "text",
"id" : "cta_text",
"label" : "Cta Text"
},
{
"type": "text",
"id" : "cta_link",
"label" : "Cta Link"
}
,
{
"type": "image_picker",
"id" : "feature1",
"label" : "Feature Image"
}
,
{
"type": "text",
"id" : "feature1text",
"label" : "Feature text"
}

,
{
"type": "image_picker",
"id" : "feature2",
"label" : "Feature Image"
}
,
{
"type": "text",
"id" : "feature2text",
"label" : "Feature text"
}

,
{
"type": "image_picker",
"id" : "feature3",
"label" : "Feature Image"
}
,
{
"type": "text",
"id" : "feature3text",
"label" : "Feature text"
}


]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
